body {
	background-color: #147f14;
}

.jumbotron {
	background: url('../images/leaves.jpg');
	border-bottom: 2px solid white;
}
.header {
	text-align: center;
	font-size: 56px;
	color: white;
	text-shadow: 2px 2px 4px black;
}

#schedule {
	border: 1px solid black;
	padding: 20px;
}

#tableData{
	color: white;
}

#addTrain {
	border: 1px solid black;
	padding: 20px;
}