body {
	background-color: #5b9b36;
}

.jumbotron {
	background: url('../images/leaves.jpg');
	border-bottom: 2px solid white;
}
.header {
	text-align: center;
	font-size: 56px;
	color: white;
	text-shadow: 2px 2px 4px black;
}

h3{
	color: white;
}

#schedule {
	border: 2px solid black;
	padding: 20px;
}

#tableData{
	color: white;
}

#addTrain {
	border: 2px solid black;
	padding: 20px;
}

footer{
	padding: 20px;
	text-align: center;
	font-size: 14px;
	color: white;
}